<footer>
    <div id="newsletter-container" class="row">
        <h3>¿Quieres recibir las últimas tendencias?</h3>
        <form action="//estudiocodesign.us13.list-manage.com/subscribe/post?u=a1df14b37221231d0591a5773&amp;id=cfd4f2ab51" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <button type="submit">Suscribirse</button>
        </form>
    </div>
    <div class="row">
        <p>CREADO CON AMOR POR ESTUDIO CODESIGN - TODOS LOS DERECHOS RESERVADOS 2016</p>
        {#<p>+(571) 258-6818 CALLE 140 #16-69 - BOGOTÁ, COLOMBIA</p>#}
    </div>
</footer>
<script type="text/javascript" src="/public/js/script.min.js"></script>
</body>
</html>
