<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="es"> <!--<![endif]-->
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TBF5XF');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge; charset=utf-8">
    <meta name="description" content="{{ meta_description }}">
    <meta name="keywords" content="{{ meta_keywords }}">
    <meta name="author" content="{{ meta_autor }}">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="msvalidate.01" content=""/>
    <meta name="google-site-verification" content=""/>
    <meta name="p:domain_verify" content=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="image" content=""/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0"/>
    <title>{{ _APP_NAME }}</title>
    <link rel="stylesheet" href="/assets/icomoon/style.css">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700" rel="stylesheet">
    <link href="/assets/fonts/gotham/stylesheet.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/style.min.css">
    <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/owl.theme.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TBF5XF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="row" id="nav-bar">
    <div class="col-md-2 col-xs-9">
        <div class="box">
            <a href="/nosotros"><img src="assets/img/logo.svg" alt="Passarela Textil" id="header-logo"></a>
        </div>
    </div>
    <div id="menu-toggler" class="col-xs-3">
            Menú
    </div>
    <div id="nav-menu-right" class="col-md-10 col-xs-12">
        <ul class="main-menu">
            <li class="{{ ( page_name | lower ) == 'us' ? 'active' }}"><a href="/nosotros">Nosotros</a></li>
            <li class="{{ ( page_name | lower ) == 'telas' ? 'active' }}"><a href="/telas">Telas</a></li>
            <li class="{{ ( page_name | lower ) == 'insumos' ? 'active' }}"><a href="/insumos">Insumos</a></li>
            <li><a href="/blog">Blog</a></li>
            <li class="{{ ( page_name | lower ) == 'contactanos' ? 'active' }}"><a href="/contactanos">Contáctanos</a>
            </li>
            <li id="navbar-icon-facebook"><a href="
https://www.facebook.com/Passarela-Textil-715413291933250/"><i class="icon-facebook2"></i></a></li>
            <li id="navbar-icon-instagram"><a href="https://www.instagram.com/passarelatextil/"><i
                            class="icon-instagram"></i></a></li>
        </ul>
    </div>
</nav>
