@import 'plugins/flexboxgrid';

$purple: #3C1141;

body {
  font-family: 'Old Standard TT', serif;
  margin: 0 8px;
}

#nav-bar {
  padding: 1rem 2rem;

  #header-logo {
    width: 12vw;
  }

  #nav-menu-right {
    text-align: right;

    ul {
      li {
        display: inline-block;
        margin-right: 2.5rem;

        &:last-of-type {
          margin-right: 0.5rem;
        }

        &.active {

          a {
            border-bottom: 1px solid #3C1141;
          }
        }

        a {
          text-decoration: none;
          color: #000;
          padding: 0.25rem 0.5rem;
          font-size: 1.15rem;

          &:hover {
            border-bottom: 1px solid #3C1141;
          }
        }

        &#navbar-icon-facebook {
          font-size: 22px;
          margin-right: 1rem;
        }

        &#navbar-icon-instagram {
          font-size: 22px;
        }
      }
    }
  }
}

.column-title {
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 2.75rem;
  }
}

#contactanos-map-row {
  background-color: #3E3C3B;
  color: #fff;
}

div.displays-container {
  margin-bottom: 1.5rem;
  margin-top: 4rem;

  div.display-container {
    h3.display-title {
      padding-left: 3rem;
      margin-bottom: 1rem;
    }

    div.display-element {
      padding: 0 0.5rem;
      height: 25vw;
      //background-color: #EAEAEA;
      background-clip: content-box;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

/**
 * Nosotros
 */
#nosotros-hero-container {
  position: relative;

  .nosotros-hero-img {
    width: 100vw;
  }

  h3#nosotros-hero-title {
    text-align: right;
    color: #fff;
    position: absolute;
    top: 22.5%;
    width: 45%;
    border-bottom: 2px solid #fff;
    font-size: 2.75rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.45);
    padding-right: 1.5rem;
  }
}

#quote-row {
  padding: 2rem 0;
}
  .quote-box {


    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    margin-right: 2.5rem;
    position: relative;
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
  }
    span#quote-left {
      margin:0.5rem; 
      font-size: 6rem;
      display: inline;
      position: absolute;
      top: 0;
      left: 0rem;
    }

    span#quote-right {
      position: absolute;
      font-size: 6rem;
    }

#barbershop-img {
  width: 100vw;
}

#experiencia-row {
  padding: 4.5rem 0;
}

hr {
  border: 1px solid #3E3C3B;
  width: 90vw;
}

#nosotros-row {
  padding: 2.5rem 0;
  text-align: right;

  img {
    width: 80%;
  }

  p {
    padding-left: 4rem;
  }
}

#mision-row {
  padding: 2.5rem 0;
  background-color: #3E3C3B;
  color: #fff;
  padding-left: 2.5rem;

  hr.text-divider {
    border: 3px solid #fff;
  }

  h3.nosotros-footer-subtitle {
    font-size: 2rem;
    font-weight: 100;
    margin: 0;
  }

  p#nosotros-footer-text {
    width: 50%;
  }
}

/**
 * Contactanos
 */

#contactanos-contacto-row {
  text-align: right;

  div#contacto-row-img {
    text-align: left;
  }

  img {
    width: 100%;
    height: 90%;
    object-fit: contain;
  }

  p {
    padding-left: 3rem;
  }
}

.contactanos-row {
  padding: 2.5rem 0;
}

#contactanos-regions-row {
  margin-bottom: 2.5rem;
}

#contactanos-map-row {
  height: auto;

  #contactanos-map-info {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;

    h3 {
      margin: 0;
      font-size: 2rem;
    }
  }

  #contactanos-map-container {
    display: flex;
    align-items: flex-end;
    padding: 0.5rem 1rem;

    iframe {
      width: 100%;
      height: 16rem;
    }
  }
}

ul#regions-list {
  list-style: none;
  padding: 0;

  li {
    font-size: 1.25rem;
    font-weight: bold;
  }
}

h3.column-subtitle {
  font-size: 2rem;
  margin: 0;
  font-style: italic;
  font-weight: 100;
}

hr.text-divider {
  width: 2rem;
  border: 3px solid #000;
  margin-bottom: 2rem;

  &.right {
    margin-right: 0;
  }

  &.left {
    margin-left: 0;
  }
}

/**
 * Telas
 */
div#telas-row {
  text-align: right;

  div#telas-left-img-container {
    text-align: left;

    img {
      width: 80%;
    }
  }
}

/**
 * Insumos
 */
div#insumos-row {
  div#insumos-img-container {
    text-align: right;

    img {
      width: 80%;
    }
  }
}

/**
 * Footer
 */
footer {
  // fix the 8px border
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  padding: 0.5rem;

  background-clip: padding-box;
  background-color: #eaeaea;

  div#newsletter-container {
    display: flex;
    flex-direction: column;
    margin: 2.5rem 0;

    h3 {
      font-weight: 100;
      color: #3e3c3b;
    }

    input[type=email] {
      background-color: transparent;
      border: 1px solid #3e3c3b;
      padding: 0.75rem 1rem;
      font-size: 1.17rem;
      text-align: center;
      color: #3e3c3b;
      font-family: 'Old Standard TT', serif;
    }

    button {
      padding: 0.75rem;
      margin-left: 0.75rem;
      background-color: #3e3c3b;
      border: none;
      color: #eaeaea;
      font-family: 'Old Standard TT', serif;
      font-size: 0.9rem;
    }
  }

  div.row {
    text-align: center;
    padding: 0;

    &:last-of-type {
      margin-bottom: 2.5rem;
    }

    p {
      font-family: 'GothamRounded-Book';
      font-weight: 700;
      width: 100%;
      margin: 0;
      font-size: 0.85rem;
    }
  }
}

#hero-carousel {
  height: 33rem;

  .owl-carousel {
    height: 100%;
  }

  img {
    height: 100%;
  }
}

.owl-carousel .owl-wrapper-outer {
  height: 100%;
}

.hero-button-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 22.5%;
  left: 12.5%;
  color: #fff;
  padding: 1.5rem 3rem;

  h3 {
    margin: 0;
    font-size: 1.5rem;
  }

  p {
    margin: 0;
  }

  > a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

p {
  font-size: 1.35rem;
}

h3.column-subtitle {
  font-size: 2.25rem;
}

#menu-toggler {
  display: none;
}

@media screen and (max-device-width: 900px), screen and (max-width: 900px) {
  div.displays-container div.display-container div.display-element {
    height: auto;
  }

  .contactanos-row {
    padding: 2.5rem 0 0;
  }

  #nav-menu-right {
    ul {
      padding: 0;
      display: block;

      &.main-menu {
        transition: all 0.75s linear;
        max-height: 0;
        opacity: 0;
        margin: 0;

        &.visible {
          max-height: 100vh;
          margin: 1rem 0;
          opacity: 1;
        }
      }

      //&:hover {
      //  li {
      //    display: block !important;
      //  }
      //}

      li {
        //display: none !important;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid rgba(0,0,0,0.5);
        position: relative;
        padding: 0;

        &.active {
          background-color: rgba(236, 240, 241, 0.75);

          a {
            border-bottom: none !important;
          }
        }

        a {
          width: 100%;
          display: block;
          height: 100%;
          padding: 0.5rem;
        }

        a:hover {
          border-bottom: none;
        }
      }
    }
  }

  #nav-bar {
    a {
      margin: auto;
    }
  }

  #middle-row-us {
    height: auto !important;
  }

  footer div#newsletter-container input[type=email] {
    width: 50%;
  }

  hr.text-divider.right {
    margin-right: auto;
    margin-left: 0;
  }

  #mision-row {
    padding: 1.5rem 1rem;

    p {
      width: auto !important;
      text-align: justify;
    }
  }

  #experiencia-row {
    padding: 1.75rem 1rem;

    p {
      text-align: justify;
    }
  }

  #nosotros-row {
    padding: 0 1rem 1.75rem;

    img {
      width: 100%;
    }

    h3 {
      margin-top: 1rem;
      text-align: left;
    }

    p {
      text-align: justify;
      padding: 0;
    }
  }

  #telas-row {
    padding: 0 1rem;

    h3 {
      text-align: left;
    }

    p {
      text-align: justify;
    }

    #telas-left-img-container {
      padding: 0 0 1.5rem;

      img {
        width: 100% !important;
      }
    }
  }

  .displays-container {
    margin-top: 0 !important;

    .display-container {
      h3 {
        padding-left: 0 !important;
      }
    }
  }

  #insumos-row {
    padding: 0 1rem;

    p {
      text-align: justify;
    }

    #insumos-img-container {
      padding: 0 0 1.5rem;

      img {
        width: 100% !important;
      }
    }
  }

  #contactanos-contacto-row {
    padding: 0 1rem;

    h3 {
      text-align: left;
    }

    p {
      text-align: justify;
      padding: 0;
    }
  }

  #contactanos-map-row {
    padding: 2.5rem 1rem 0;

    #contactanos-map-info {
      align-items: flex-start;
    }

    #contactanos-map-container {
      padding: 1rem 0;
    }
  }

#nosotros-hero-container-1 {
  height:458px;
}

.novias-sliders {
  height: 458px !important;
}

  #contactanos-regions-row {
    padding: 1.25rem 1rem;

    p {
      text-align: justify;
    }
  }

  #hero-carousel {
    height: auto;
  }

  #nosotros-hero-title {
    position: relative !important;
    background-color: transparent !important;
    text-align: center !important;
    width: auto !important;
    color: #000 !important;
    padding: 0 1.5rem !important;
    margin: 0.75rem 0 2.25rem !important;
  }

  .hero-button-container {
    position: relative;
    left: 0;
  }

  .quote-box {
    margin: 0 1rem 0 0 !important;
    padding: 2rem 2rem 2rem 2.25rem !important;
    font-size: 1.85rem !important;
    text-align: center;
  }

    span#quote-left {
      left: 2rem !important;
    }
  

  #header-logo {
    width: 32vw !important;
  }

  #menu-toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
}
