/* old-standard-tt-regular - latin */
@font-face {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    src: url('old-standard-tt-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Old Standard TT Regular'), local('OldStandardTT-Regular'),
    url('old-standard-tt-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('old-standard-tt-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('old-standard-tt-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('old-standard-tt-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('old-standard-tt-v7-latin-regular.svg#OldStandardTT') format('svg'); /* Legacy iOS */
}
