/* TOGGLE VISIBILITY RESPONSIVE */

.hide {
    display: none!important;
}

.show {
    display: block!important;
}

.hidden {
    display: none!important;
    visibility: hidden!important;
}

.visible {
    display: block;
}

.visible-l, .visible-m, .visible-s, .visible-xl, .visible-xs {
    display: none!important;
}

@include media-query(XS) {
    .visible-xs {
    display: block!important;
}
.visible-xs-inline {
    display: inline!important;
}
.visible-xs-inline-block {
    display: inline-block!important;
}
}@include media-query(S) {
    .visible-s {
    display: block!important;
}
.visible-s-inline {
    display: inline!important;
}
.visible-s-inline-block {
    display: inline-block!important;
}
}@include media-query(M) {
    .visible-m {
    display: block!important;
}
.visible-m-inline {
    display: inline!important;
}
.visible-m-inline-block {
    display: inline-block!important;
}
}@include media-query(L) {
    .visible-l {
    display: block!important;
}
.visible-l-inline {
    display: inline!important;
}
.visible-l-inline-block {
    display: inline-block!important;
}
}@include media-query(XL) {
    .visible-xl {
    display: block!important;
}
.visible-xl-inline {
    display: inline!important;
}
.visible-xl-inline-block {
    display: inline-block!important;
}
}
