{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}
<div id="contactanos-contacto-row" class="row contactanos-row">
    <div id="contacto-row-img" class="col-xs-4" style="background: url(/assets/img/DSC05866.jpg) center center;
    background-size: cover;">
    </div>
    <div class="col-md-4 col-xs-12">
        <h3 class="column-subtitle">Empieza de la mejor manera</h3>
        <hr class="text-divider right">
        <p>Si tienes un almacén textil, piensas en empezar uno, o eres diseñador(a) de modas y realizas producciones
            grandes,
            permítenos introducirnos como una agencia de distribuidores mayoristas a nivel nacional. Ofrecemos un
            excelente servicio, precio y variedad de diseños. Nos aseguramos de ofrecer lo que necesita tu negocio.</p>
    </div>
    <div class="col-md-4 col-xs-12 first-xs last-md column-title">
        <h2>Contacto</h2>
    </div>
</div>
<div id="contactanos-map-row" class="row contactanos-row">
    <div id="contactanos-map-info" class="col-md-8 col-xs-12">
        <h3>Cl. 140 #16-69, Bogotá</h3>
        <h3>(1) 2586818</h3>
    </div>
    <div id="contactanos-map-container" class="col-md-4 col-xs-12">
        <iframe frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?q=Passarela%20Textil&key=AIzaSyBuDacMUoamSmi81SNKQZHAEWbxRk3oO5s"
                allowfullscreen></iframe>
    </div>
</div>
<div id="contactanos-regions-row" class="row contactanos-row">
    <div class="col-md-4 col-xs-12 column-title">
        <h2>Colombia</h2>
    </div>
    <div class="col-md-4 col-xs-12">
        <h3 class="column-subtitle">Contáctanos desde otras regiones</h3>
        <hr class="text-divider left">
        <p>Si te encuentras en alguna de las zonas nombradas a continuación, comunícate con nuestra línea de información
            (1) 7516968 en Bogotá y con gusto agendaremos una visita con nuestros representantes de ventas.</p>
        <ul id="regions-list">
            <li>Región Caribe</li>
            <li>Antioquia</li>
            <li>Llanos Orientales</li>
            <li>Santanderes</li>
            <li>Tolima, Huila, Caquetá</li>
            <li>Valle del Cauca, Cauca, Nariño</li>
            <li>Eje Cafetero</li>
        </ul>
    </div>
    <div class="col-md-4 col-xs-12"></div>
</div>
{{ include('inc/_footer.twig') }}
