{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}
<div class="row">
    {{ page_name }}
</div>
{{ include('inc/_footer.twig') }}
