{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}
<div id="insumos-row" class="row">
    <div class="col-md-4 first-xs col-xs-12 column-title">
        <h2>Insumos</h2>
    </div>
    <div class="col-md-4 col-xs-12">
        <h3 class="column-subtitle">Un complemento perfecto</h3>
        <hr class="text-divider left">
        <p>Los insumos son calificados como todos los elementos distintos a la tela que se utilizan para la creación de
            una prenda de vestir. En la alta costura o trajes de noche, los insumos de lujo se convierten en el
            complemento perfecto para finalizar esta prenda o en ocasiones son el elemento que inspira la creación y
            diseño de un vestido.</p>
    </div>
    <div id="insumos-img-container" class="col-md-4 first-xs last-md col-xs-12">
        <img src="/assets/img/photography/3677.jpg">
    </div>
</div>
<div class="displays-container">
    <div class="display-container">
        <h3 class="display-title">Cintas</h3>
        <div class="display row">
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3559.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/1586.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3608.jpg">
            </div>
        </div>
    </div>
    <div class="display-container">
        <h3 class="display-title">Apliques</h3>
        <div class="display row">
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/1490.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/1537.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/1550.jpg">
            </div>
        </div>
    </div>
</div>
{{ include('inc/_footer.twig') }}
