{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}
<div id="telas-row" class="row">
    <div id="telas-left-img-container" class="col-md-4 col-xs-12">
        <img src="/assets/img/photography/5841.jpg">
    </div>
    <div class="col-md-4 col-xs-12">
        <h3 class="column-subtitle">Un elemento indispensable</h3>
        <hr class="text-divider right">
        <p>Las telas son la materia prima principal de la moda, un elemento indispensable para la realización de un
            proceso de diseño. Identificar los textiles adecuados para la realización de una prenda a partir de su
            composición, es fundamental para obtener una prenda final con la caída y estética deseada.</p>
        <p>En passarela textil ofrecemos a nuestros clientes una extensa gama de tipos de tejidos, asegurándonos que en
            materia de color y textura, nuestros clientes encontrarán gran variedad de producto.</p>
    </div>
    <div class="col-md-4 col-xs-12 first-xs last-md column-title">
        <h2>Telas</h2>
    </div>
</div>
<div class="displays-container">
    <div class="display-container">
        <h3 class="display-title">Algodones</h3>
        <div class="display row">
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3438.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3439.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3445.jpg">
            </div>
        </div>
    </div>

    <div class="display-container">
        <h3 class="display-title">Poliéster</h3>
        <div class="display row">
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3483.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3485.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3481.jpg">
            </div>
        </div>
    </div>

    <div class="display-container">
        <h3 class="display-title">Guipures</h3>
        <div class="display row">
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3538.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3540.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3541.jpg">
            </div>
        </div>
    </div>
<!--
    <div class="display-container">
        <h3 class="display-title">Encajes y fiesta</h3>
        <div class="display row">
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/5695.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/5737.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/5753.jpg">
            </div>
        </div>
    </div>
-->
    <div class="display-container">
        <h3 class="display-title">Licras</h3>
        <div class="display row">
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3441.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3440.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3443.jpg">
            </div>
        </div>
    </div>

    <div class="display-container">
        <h3 class="display-title">Crepes</h3>
        <div class="display row">
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3445.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3433.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3423.jpg">
            </div>
        </div>
    </div>

    <div class="display-container">
        <h3 class="display-title">Rayon</h3>
        <div class="display row">
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3455.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3458.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3447.jpg">
            </div>
        </div>
    </div>

    <div class="display-container">
        <h3 class="display-title">Brocados</h3>
        <div class="display row">
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3505.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3507.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3508.jpg">
            </div>
        </div>
    </div>

    <div class="display-container">
        <h3 class="display-title">Paños</h3>
        <div class="display row">
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3499.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3500.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/3501.jpg">
            </div>
        </div>
    </div>
<!--
    <div class="display-container">
        <h3 class="display-title">Novias</h3>
        <div class="display row">
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/5648.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/5639.jpg">
            </div>
            <div class="col-md-4 col-xs-12 display-element">
                <img src="/assets/img/photography/5759.jpg">
            </div>
        </div>
    </div>
</div>

-->

<div class="display-container">
<h3 class="display-title">Encajes y fiesta</h3>
<div class="row novias-sliders">
    <div class="col-xs-12">
        <div id="nosotros-hero-container-1">
            <div class="hero-carousel owl-carousel" style=" height:30rem; " >
                <div class="item"><img class="nosotros-hero-img" src="/assets/img/Encajes-1.png"></div>
                <div class="item"><img class="nosotros-hero-img" src="/assets/img/Encajes-2.png"></div>
                <div class="item"><img class="nosotros-hero-img" src="/assets/img/Encajes-3.png"></div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="display-container">
<h3 class="display-title">Novias</h3>
<div class="row">
    <div class="col-xs-12">
        <div id="nosotros-hero-container-1" style="height: 30rem;">
            <div class="hero-carousel owl-carousel novias-sliders" style="height:480px;">
                <div class="item"><img class="nosotros-hero-img" src="/assets/img/Novias-1.png"></div>
                <div class="item"><img class="nosotros-hero-img" src="/assets/img/Novias-2.png"></div>
                <div class="item"><img class="nosotros-hero-img" src="/assets/img/Novias-3.png"></div>
            </div>
        </div>
    </div>
</div>
</div>

{{ include('inc/_footer.twig') }}
