{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}
<div class="row" >
    <div class="col-xs-12">
        <div id="nosotros-hero-container">
            <div class="hero-carousel" class="owl-carousel" style=" height:30rem ; ">
                <div class="item"><img class="nosotros-hero-img" src="/assets/img/hero-2.jpg"></div>
                <div class="item"><img class="nosotros-hero-img" src="/assets/img/hero-3.jpg"></div>
                <div class="item"><img class="nosotros-hero-img" src="/assets/img/hero-4.jpg"></div>
                <div class="item"><img class="nosotros-hero-img" src="/assets/img/hero-5.jpg"></div>
            </div>
            <h3 id="nosotros-hero-title">
                Últimos en tendencias
            </h3>
            <div class="hero-button-container">
                <h3>Contáctanos</h3>
                <p>Cl. 140 #16-69, Bogotá</p>
                <p>(1) 2586818</p>
                <a href="/contactanos"></a>
            </div>
        </div>
    </div>
</div>
<div id="quote-row" class="row">
    <div class="col-md-offset col-xs-12-6 col-md-6 col-xs-12">
        <div class="quote-box" style="left:100%;">
            <span id="quote-left">&#8220</span>Elegimos sólo los mejores textiles para ponerlos a tu disposición<span
                    id="quote-right">&#8221</span>
        </div>
    </div>
</div>
<div id="middle-row-us" class="row" style="height: 50vh;">
    <div class="col-md-4 col-xs-12">
        <img style="width: 100%;
    height: 100%;
    object-position: top left;
    object-fit: none;" id="barbershop-img" src="/assets/img/photography/IMG_5200.JPG">
    </div>
    <div class="col-md-8 col-xs-12">
        <img style="width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: left;" src="/assets/img/photography/3641.jpg">
    </div>
</div>
<div id="experiencia-row" class="row">
    <div class="col-md-4  col-xs-12 column-title">
        <h2>Experiencia</h2>
    </div>
    <div class="col-md-4 col-xs-12">
        <h3 class="column-subtitle">20 años de experiencia</h3>
        <hr class="text-divider left">
        <p>Nos preocupamos por ofrecer a nuestros clientes la mas amplia gama de productos textiles. Brindando a través
            de un equipo capacitado, completa asesoría y confianza. Nuestra pasión por la moda, excelentes proveedores y
            conocimiento de la composición de las telas, nos permite elegir solo los mejores textiles para ponerlos a su
            disposición.</p>
    </div>
</div>
<hr>
<div id="nosotros-row" class="row">
    <div class="col-md-4 col-xs-12">
        <img src="/assets/img/photography/DSC05860.jpg">
    </div>
    <div class="col-md-4 col-xs-12">
        <h3 class="column-subtitle">Una empresa familiar de constante crecimiento</h3>
        <hr class="text-divider right">
        <p>Somos una Empresa del sector textil dedicados a la importación y comercialización de telas, con altos niveles
            de calidad. Brindamos a nuestros Clientes el más oportuno servicio, confianza y seguridad en las
            características y naturaleza de nuestros productos, beneficiando de esta manera a las personas que
            directamente utilizan prendas elaboradas con este tipo de telas.</p>
        <p>Abrimos nuestra primera tienda en el Norte de Bogotá y desde ese momento nos hemos convertido en un lugar
            emblemático y de preferencia para nuestros clientes que buscan acceder a textiles de primera calidad y
            variedad determinada por tendencia.</p>
    </div>
    <div class="col-md-4  col-xs-12 first-xs last-md column-title">
        <h2>Nosotros</h2>
    </div>
</div>
<div id="mision-row" class="row">
    <div class="col-md-8 col-xs-12">
        <h3 class="nosotros-footer-subtitle">
            Nuestra misión como empresa es aportar al mercado colombiano la importación de las tendencias textiles más
            innovadoras con productos de excelente calidad.
        </h3>
        <hr class="text-divider left">
        <p id="nosotros-footer-text">Dando valor a las creaciones de nuestros clientes y generando rentabilidad para los
            mayoristas. Contribuimos
            en el mejoramiento de la calidad de vida de todas las personas que intervienen en nuestra cadena de valor,
            buscando el continuo crecimiento y desarrollo de nuestra Compañía.</p>
    </div>
</div>
{{ include('inc/_footer.twig') }}
